header {
  font-size: 16px;
  padding: 20px;
  background-color: rgba(0, 0, 0, .8);
  color: #fff;
  text-align: center;
}

.welcome {
  background-image: url(img/pexels-photo-313782.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
  padding: 30px;
}

.title {
  font-size: 50px;
  margin: 70px 0;
  font-family: 'Dancing Script', cursive;
  font-weight: lighter;
  text-shadow: #B39B9B 2px 2px 0px;
  position: relative;
  display: block;
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, .6);
  padding: 20px;
  margin: 0 auto;
  width: 80%;
}

.card {
  width: 80%;
  margin: 20px;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

.box {
  display: flex;
}

.card-img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 5px 0 0 5px;
}

.card-title {
  font-size: 150%;
  margin: 10px;
  color: #444;
}

.card-text {
  padding: 10px;
  color: #666;
}

/*.card {
  width: 300px;
  margin: 30px;
  background-color: #fff;
}

.card-img {
  width: 300px;
  height: 200px;
}

.card-title {
  font-size: 16px;
  margin: 10px;
  color: #444; 
}

.card-text {
  padding: 10px;
  color: #666;
}

.card-box {
  display: flex;
  justify-content: center;
}

.continue {
  font-size: 80%;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  color: #08f;
  background-color: transparent;
}*/



footer {
  font-size: 16px;
  padding: 10px;
  background-color: rgba(0, 0, 0, .9);
  color: #fff;
}